.input-selected{
    padding: 0.25rem 0.5rem; 
   font-size: 0.875rem;
   border-radius: 0.2rem;
    max-width: 50px;
}

.form-width {
    width: 190px !important;
}
.modal-content{
    width: 125%;
    height: 100%;
}

