@import '../../../../../shared/styles/variable';
@import '../../../../../shared/styles/mixin';

.pricingFourCard {
  box-shadow: none;
  border: $border-width solid $border-color;
  overflow: hidden;
  border-radius: $card-radius;
}

.pricingFourContent {
  padding: 20px;
}

.pricingFourCardHeader {
  margin-bottom: 30px;
}

.pricingFourCardPricingCircle {
  width: 149px;
  height: 149px;
  padding: 10px;
  border-radius: $border-radius-circle;
  color: $white;

  & h3 {
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    margin-bottom: 0;
    color: $white;
  }

  & .price {
    font-weight: $font-weight-bold;
    font-size: 26px;
    line-height: 1;
  }

  & h5 {
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 0;
  }
}

.pricingFourCardList {
  position: relative;
  border-top: $border-width solid $border-color;
  border-radius: 0;
  
  & .listItem {
    padding: 14px 0;
    justify-content: flex-start;
    color: $text-color;
    border: none;
    border-bottom: $border-width solid $border-color !important;

    & .icon {
      margin-right: 14px;
      font-size: 16px;
      color: $success;
      margin-top: 4px;

      [dir='rtl'] & {
        margin-right: 0;
        margin-left: 14px;
      }
    }

    & p {
      margin-bottom: 0;
    }
  }
}

.pricingFourBtnView {
  margin-top: 10px;
}

.pricingFourBtn {
  width: 100%;
  font-weight: $font-weight-bold;
  color: $white;
  min-height: 46px;
  border-radius: 0;
  box-shadow: none;
  border: 0 none;

  &:hover,
  &:focus {
    color: $white;
  }
}
