@import '../../../shared/styles/variable.scss';

.emptyResult {
  padding: 20px;
}

.emptyResultTitle {
  margin-bottom: 20px;
  font-weight: $font-weight-normal;
  color: $text-color-secondary;
}

.emptyResultBtn {
  margin-bottom: 8px;
}

.paraText {
  margin-bottom: 20px;
  color: $text-color-secondary;
}