@import '../../../shared/styles/variable.scss';

.mainContentView {
  padding: 20px;

  @include media-breakpoint-up(md) {
    padding: 30px 32px;
    background-color: #F9F9F9;
    // background-image: url('../../../assets/images/overlay.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
