@import '../../../../shared/styles/variable.scss';
@import '../../../../shared/styles/mixin.scss';

.themeColorSetting {

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
    padding-bottom: 20px;
    margin-bottom: 20px;

    @include media-breakpoint-up(xxl) {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }
}

.themeColorSettingTitle {
  margin-bottom: 16px;
}