// Data-Grid SCSS Start //
// Data-Grid Button Scss Start //
.btn-darkGray {
    border: 1px solid #9cd8d8;
    border-radius: 5px;
    background: #9cd8d8;
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #000;
    width: 130px;
    height: 37px;
    margin-left: 50px;

}

.btn-Gray {
    margin-left: 120px;
    border: 1px solid #9cd8d8;

    background: #9cd8d8;
    border-radius: 5px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: #000;
    width: 130px;
    height: 37px;

}

// Data-Grid Button Scss End //
// .btn-Dropdown {
//     color: #404040;
//     padding: 3px, 3px, 3px, 10px;
//     width: 140px;
//     margin-top: 14px;
//     font-weight: 500;
//     font-size: 10px;
//     line-height: 12px;
//     background: #F2F2F2;
//     border: 1px solid #DBDBDB;
//     border-radius: 5px;

// }
.dx-button-mode-outlined {
    background-color: transparent;
    border-color: #ddd;
    color: #404040;
    font-size: 10px;
    font-weight: 500;
    width: 133px;
    line-height: 12px;
    background: #F2F2F2;
    text-align: left;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
}

.dx-widget {
    font-family: Avant Garde Gothic Std Book!important;
}

.search-header {
    margin-top: 14px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: #404040;
}

.search-profile {
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: #DB7100;
}

.main-header {
    font-weight: 800;
    font-size: 14.4px;
    line-height: 16px;
    text-transform: uppercase;
    color: #404040;
}

// Data-Grid Table Start //
.dx-datagrid .dx-column-lines>td {
    border-left: 1px solid #ddd0;
    border-right: 1px solid #ddd0;
}

.dx-datagrid-headers {
    font-weight: 500;
    font-size: 14.4px;
    line-height: 12px;
    color: #030202;
    font-weight: bold;
}

.dx-datagrid {
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color:#4b4b4b;
}
// Data-Grid SCSS End //



.left{


    margin-left:50px;
}
.nav-link{
    color: #000;
}
.nav-link:hover{
    color: #000;
}

.nav-tabs .nav-link {
     margin-bottom: -1px;
     background: none;
     border: transparent;
      border-top-left-radius: 0.25rem;
       border-top-right-radius: 0.25rem;
    }