@import '../../../../shared/styles/variable';

.chatSidebarUserView {
  padding: 16px 24px 10px;

  @include media-breakpoint-up(xxl) {
    padding-bottom: 20px;
  }
}

.chatSidebarSearchView {
  padding: 0 24px 8px;
  width: 100%;
}

.chatListItem {
  padding: 8px 20px;
  cursor: pointer;

  &:global(.active) {
    background-color: rgba($primary, 0.07);
  }
}

.chatAvatar {
  width: 40px;
  height: 40px;
  border-radius: $border-radius-circle;

  @include media-breakpoint-up(xxl) {
    width: 45px;
    height: 45px;
  }
}

.chatListItemContent {
  font-size: $font-size-base;
  padding-left: 14px;
  width: calc(100% - 40px);
  color: $text-color-secondary;
  overflow: hidden;

  [dir='rtl'] & {
    padding-left: 0;
    padding-right: 16px;
  }

  & h3 {
    font-weight: $font-weight-medium;
    margin-bottom: 2px;
    font-size: $font-size-base;
  }
}

.chatSidebarUserTabs {
  overflow: hidden;
}

.chatSidebarTabs {
  position: relative;
  margin-bottom: 8px;

  & li {
    width: 50%;
    justify-content: center;
    padding: 0px 12px;
    min-height: 48px;
    font-size: $font-size-lg;
  }
}

.tab {
  font-size: 16px !important;
  text-transform: capitalize;
  padding: 6px 12px !important;
  min-width: 10px;
  color: $text-color;
  border: none !important;

  &:global(.active),
  &:focus {
    color: $primary !important;
    border: none !important;
    border-bottom: 2px solid $primary !important;
    text-shadow: 0 0 0.25px currentColor;
  }
  &:hover {
    color: $primary !important;
    border: none;
  }
}

.chat-sidebar-scrollbar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatSidebarTitle {
  padding: 8px 20px 4px;
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
}

.chatSidebarScrollbar {
  height: calc(100vh - 178px);
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    height: calc(100vh - 346px);
  }
}

.searchInput {
  [dir='rtl'] & {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}
.searchBtn {
  [dir='rtl'] & {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
