@import '../../../shared/styles/variable';

.selectBox {
  cursor: pointer;
  font-size: $font-size-sm;
  width: auto;

  &:focus {
    box-shadow: none;
  }
}

.selectOption {
  cursor: pointer;
  padding: 5px 12px;
  font-size: $font-size-base;
}