.tableItem {
  font-size: 13px;
  padding: 10px 8px !important;
  vertical-align: middle;

  &:first-child {
    padding-left: 20px !important;

    [dir=rtl] & {
      padding-left: 8px !important;
      padding-right: 20px !important;
    }
  }

  &:last-child {
    padding-right: 20px !important;

    [dir=rtl] & {
      padding-right: 8px !important;
      padding-left: 20px !important;
    }
  }
}
