@import '../../../../shared/styles/variable';

.contactAddress {
  position: relative;

  @include media-breakpoint-up(lg) {
    margin-left: 20px;

    [dir='rtl'] & {
      margin-left: 0;
      margin-right: 20px;
    }
  }
}

.contactAddressItem {
  background-color: rgba($primary, 0.05);
  border-radius: $border-radius;
  margin-bottom: 20px;
  padding: 14px 20px;

  & p {
    margin-bottom: 0;
  }

  & .avatarIcon {
    width: 40px;
    height: 40px;
    background-color: $component-bg;
    color: $primary;
    border-radius: $border-radius-circle;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;

    [dir='rtl'] & {
      margin-right: 0;
      margin-left: 14px;
    }

    @include media-breakpoint-up(md) {
      margin-right: 16px;
      width: 48px;
      height: 48px;

      [dir='rtl'] & {
        margin-right: 0;
        margin-left: 16px;
      }
    }

    & svg {
      font-size: 20px;
    }
  }
}
