.inputGroupText {
  [dir='rtl'] & {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}
.inputFormControl {
  [dir='rtl'] & {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
